.notice{
    width: 100%;
    display: flex;
    padding: 14px;
    font-size: 16px;
    justify-content: space-between;
    align-items: center;
    -webkit-box-align: center;
    border-bottom: 0.1875rem solid #eee;
}
.notice-content{
    flex: 1;
    vertical-align: middle;
    display: inline-block;
}
.notice-wrapper{

}
.allNotices{
}
