.bought-detail{
    width: 100%;
}
.bought-detail-header{
    width: 100%;
    border-bottom: 1px solid #eee;
    text-align: center;
    padding: 5px;
}
.bought-detail-header-span{
    float: left;
    font-size: 16px;
}
.bought-detail-header-title{
    font-size: 20px;
    font-weight: 600;
}
.bought-detail-content-wrapper{
    width: 100%;
    height: calc(100vh - 41px);
    padding: 5px 10px;
    position: relative;

}
.bought-detail-content{
    padding: 10px 10px;
    width: 50%;
    display: inline-block;
    /*border-bottom: 1px solid #eee;*/
}
.bought-detail-content .ant-card-meta-description{
    max-height: 50px;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow: hidden;
}
.bought-detail-content .ant-card-head{
    min-height: 24px;
    padding: 0 12px;
}
.bought-detail-content .ant-card-head-title{
    padding: 5px;
}
.bought-detail-content .ant-card-body{
    padding: 5px 12px;
}
