.find{
    padding: 0 5px 15px;
    border-bottom: 0.1875rem solid #eee;
}

.thing{
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.card{
    width: 48%;
    min-height: 80px;
    line-height: 80px;
    background: url("./bg.jpg");
    font-size: 18px;
    border-radius: 4px;
    font-weight: 800;
}

.else{
    width: 48%;
    min-height: 80px;
    line-height: 80px;
    background: url("./true.jpg");
    /*background: yellow;*/
    font-size: 18px;
    border-radius: 4px;
    font-weight: 800;
}
.card a{
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
}
.else a{
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
}
