.sell{
    padding: 5px;
}
.sell-more{
    font-size: 12px;
}
.sell-detail{
    display: flex;
    -webkit-box-align: center;
    justify-content: space-between;
    align-items: center;
}
.sell-product-wrapper{
    width: 49%;
    margin-right: 2%;
    margin-bottom: 5px;
    list-style: none;
    padding: 8px;
    float: left;
    border: 1px solid #eee;
    border-radius: 5px;
}
.clear-margin-right{
    margin-right: 0;
}
.sell-products{

}
