.chat{
    width: 100%;
}
.chat-header{
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #eee;
    position: fixed;
    top: 0;
    z-index: 200;
    background: #fff;
}
.chat-header h2{
    text-align: center;
    margin: 0;
    color: orangered;
    padding: 0 5px;
}
.chat-footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 200;
    background: #fff;
    display: flex;
    justify-content: space-around;
    padding: 5px 0;
    border: 1px solid #eee;
}
.chat-input-message{
    width: 75%;
    display: inline-block;
}
.chat-send-message{
    display: inline-block;
}
.chat-content{
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid #eee;
    padding: 10px;
}
.chat-content p{
    margin: 0;
}
