.forum-header-wrapper{
    width: 100%;
    background: #fff;
    padding: 5px;
    border: 1px solid #eee;
    position: fixed;
    top: 0;
    z-index: 200;
}
.forum-content-wrapper{
    padding: 5px 10px;
    /*margin-top: 52px;*/
    margin-bottom: 53px;
}
.forum-content-detail{
    border: 1px solid #eee;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.forum-content-comments{
    padding: 0 20px;
    border-top: 1px solid #eee;
}
.forum-content--nodata{
    width: 100%;
    text-align: center;
    padding: 200px 0;
}
.forum-content--nodata h1{
    color: gray;
}
.forum{
    width: 100%;
    background: #fff;
}
